<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li2n.im_server.mapper.GroupInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li2n.im_server.pojo.GroupInfo">
        <id column="id" property="id"/>
        <result column="gid" property="gid"/>
        <result column="group_name" property="groupName"/>
        <result column="master_username" property="masterUsername"/>
        <result column="group_describe" property="groupDescribe"/>
        <result column="members" property="members"/>
        <result column="member_num" property="memberNum"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gid, group_name, master_username, group_describe, members, member_num, create_time, update_time
    </sql>

    <!-- 分页查询 -->
    <select id="selectListByPage" resultMap="BaseResultMap">
        SELECT *
        FROM group_info g
        WHERE
        1
        <if test="null != params.gid and '' != params.gid">
            AND g.gid LIKE CONCAT('%', #{params.gid}, '%')
        </if>
        <if test="null != params.groupName and '' != params.groupName">
            AND g.group_name LIKE CONCAT('%', #{params.groupName}, '%')
        </if>
        <if test="null != params.masterUsername and '' != params.masterUsername">
            AND g.master_username LIKE CONCAT('%', #{params.masterUsername}, '%')
        </if>
    </select>

    <!-- 根据Gid更新群成员列表 -->
    <update id="update">
        UPDATE group_info
        SET members     = #{groupInfo.members},
            member_num  = #{groupInfo.memberNum},
            update_time = #{groupInfo.updateTime}
        WHERE gid = #{groupInfo.gid}
    </update>

</mapper>
