<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li2n.im_server.mapper.GroupListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li2n.im_server.entity.GroupList">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="gids" property="gids" />
        <result column="found_num" property="foundNum" />
        <result column="join_num" property="joinNum" />
        <result column="total_num" property="totalNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, gids, found_num, join_num, total_num, create_time, update_time
    </sql>

    <!-- 根据用户名更新用户群组列表 -->
    <update id="updateGroupList">
        UPDATE group_list
        SET gids        = #{groupList.gids},
            found_num   = #{groupList.foundNum},
            join_num    = #{groupList.joinNum},
            total_num   = #{groupList.totalNum},
            update_time = #{groupList.updateTime}
        WHERE username = #{username}
    </update>

</mapper>




