<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li2n.im_server.mapper.MessageGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li2n.im_server.pojo.MessageGroup">
        <id column="id" property="id" />
        <result column="gid" property="gid" />
        <result column="send_username" property="sendUsername" />
        <result column="message_content_type" property="messageContentType" />
        <result column="content" property="content" />
        <result column="file_url" property="fileUrl" />
        <result column="send_time" property="sendTime" />
        <result column="is_self" property="self" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gid, send_username, message_content_type, content, file_url, send_time, is_self
    </sql>

</mapper>
