<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li2n.im_server.mapper.MessageOfflineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li2n.im_server.pojo.MessageOffline">
        <id column="id" property="id"/>
        <result column="send_nickname" property="sendNickname"/>
        <result column="send_username" property="sendUsername"/>
        <result column="receive_username" property="receiveUsername"/>
        <result column="message_content_type" property="messageContentType"/>
        <result column="content" property="content"/>
        <result column="file_url" property="fileUrl"/>
        <result column="send_time" property="sendTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, send_nickname, send_username, receive_username, message_content_type, content, file_url, send_time
    </sql>

    <select id="selectOfflineMsgList" resultMap="BaseResultMap">
        SELECT *
        FROM message_offline
        WHERE message_offline.receive_username = #{username}
    </select>

    <delete id="deleteMsg">
        DELETE
        FROM message_offline
        WHERE message_offline.receive_username = #{username}
    </delete>

</mapper>
