<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li2n.im_server.mapper.NoticeFriendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li2n.im_server.entity.NoticeFriend">
        <id column="id" property="id" />
        <result column="sender" property="sender" />
        <result column="receiver" property="receiver" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="is_confirm" property="confirm" />
        <result column="is_add" property="add" />
        <result column="is_del" property="del" />
        <result column="is_verified" property="verified" />
        <result column="is_flag" property="flag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sender, receiver, title, content, is_confirm, is_add, is_del, is_verified, is_flag, create_time, update_time
    </sql>

    <!-- 获取用户的所有好友通知 -->
    <select id="selectListByReceiveUsername" resultMap="BaseResultMap">
        SELECT *
        FROM notice_friend
        WHERE receiver = #{username}
    </select>

    <!-- 更新好友通知 -->
    <update id="updateNotice">
        UPDATE notice_friend
        SET is_confirm  = #{noticeFriend.confirm},
            is_verified = #{noticeFriend.verified},
            update_time = #{noticeFriend.updateTime}
        WHERE sender = #{noticeFriend.receiver}
          AND receiver = #{noticeFriend.sender}
          AND create_time = #{flagTime}
          AND is_add = 1
    </update>
</mapper>
