<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li2n.im_server.mapper.NoticeServerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li2n.im_server.pojo.NoticeServer">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="notice_type" property="noticeType"/>
        <result column="send_username" property="sendUsername"/>
        <result column="file_url" property="fileUrl"/>
        <result column="content" property="content"/>
        <result column="content_type" property="contentType"/>
        <result column="receive_username" property="receiveUsername"/>
        <result column="push_num" property="pushNum"/>
        <result column="send_time" property="sendTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, notice_type, send_username,file_url, content, content_type, receive_username, push_num, send_time
    </sql>

    <select id="selectListByReceiveUsername" resultMap="BaseResultMap">
        SELECT *
        FROM notice_server
        WHERE notice_type = 'all'
           OR LOCATE(#{username}, receive_username)
    </select>

</mapper>
