<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li2n.im_server.mapper.UserFriendListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.li2n.im_server.pojo.UserFriendList">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="friends" property="friends"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, friends, create_time, update_time
    </sql>

    <!-- 更新好友列表 -->
    <update id="updateByUsername">
        UPDATE user_friend_list
        SET friends     = #{friends},
            update_time = #{updateTime}
        WHERE username = #{username}
    </update>

</mapper>
